---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Impressum">

<h1 class="text-3xl font-bold mb-6">Impressum</h1>

<p class="mb-4">
Angaben gemäß § 5 DDG
</p>

<p class="mb-6">
Robin Fechner<br/>
Kuhnertstraße 15<br/>
13595 Berlin<br/>
Deutschland
</p>

<p class="mb-6">
Kontakt:<br/>
E-Mail: Robin.fech@googlemail.com<br/>
Mobil: +49 177 377 688 0
</p>

<p>
Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:<br/>
Robin Fechner<br/>
Kuhnertstraße 15<br/>
13595 Berlin<br/>
Deutschland
</p>

</BaseLayout>