---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Impressum // Robin Fechner">

<h1 class="text-3xl font-bold mb-6">Impressum</h1>

<p class="mb-4">
Angaben gemäß § 5 DDG
</p>

<p class="mb-6">
Robin Fechner<br/>
Kuhnertstraße 15<br/>
13595 Berlin<br/>
Deutschland
</p>

<p class="text-xl font-semibold mb-3">
Kontakt</p>
E-Mail: <a href="mailto:robin.fech@googlemail.com" class="text-raukhar-400 hover:underline">robin.fech@googlemail.com</a><br/>
Mobil: <a href="tel:+491773776880" class="text-raukhar-400 hover:underline">+49 177 377 688 0</a>
</p>
</BaseLayout>